.hidden {
  display: none;
}
label {
  margin-bottom: 10px;
  display: block;
}

.navbar {
  min-height: 115px;
}

.logo {
  background-image: url("/images/logo.png") !important;
  width: 4em !important;
  height: 3em !important;
}

.headline {
  text-align: center;
  width: 100%;
  color: #f94c35;
}

#result {
  color: #d7cece;
  background: black;
  margin: 10px;
  opacity: 0.7;
}

#content-profile {
  color: #d7cece;
  background: rgba(0, 0, 0, 0.7);
  margin: 10px;
  height: 100%;
  padding: 10px;
}

#orderBtn {
  position: fixed;
  bottom: 10px;
  max-width: inherit;
}

#main-content {
  background: url("/images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-width: 100%;
  min-height: 100%;
  margin: 0px !important;
}
